.content-page {
    * {
        color:#000;
    }

    h2,h3,p,a {
        letter-spacing:.12em;
    }

    h2 {
        text-align:center;
        font-size:2.8rem;
        padding:0px 20px 70px 20px;
        margin:0px;
    }

    h2,h3 {
        font-family:'Caudex';
        text-transform:uppercase;
        line-height:1;
    }

    h2,h3,h4 {
        a {
            font-size:1em;
        }

    }

    h4 {
        padding-top:10px;
    }

    section {
        padding:0px;
        font-size:0px;

        &.level {
            padding:30px 0px;

            &.level-1 {

                h3 {
                    border-bottom:1px solid #000;
                    font-size:1.8rem;
                    padding-bottom:10px;
                }

                .level-2 {
                    padding:40px 0px;

                    p {
                        line-height:1.5;
                        margin-bottom:20px;
                        text-align:justify;
                    }

                    > *:last-child {
                        margin-bottom:0px;
                    }

                }

            }

        }

        code {
            position:relative;
            display:block;
            text-align:center;
            padding:50px;
            padding-top:40px;

            + code {
                padding-top:0px;
            }

            * {
                font-family: 'Inconsolata';
                font-size:1.1em;
            }

            pre {
                display:inline-block;
                text-align:left;
                line-height:1.8;
                letter-spacing:.15em;
                padding:15px 40px;
                background:#e0e0e0;
                width:auto;
                box-shadow:0px 1px 1px 0px #b4b4b4;
            }

        }

        .col {
            display:inline-block;
            width:50%;
            padding:70px;

            h4 {
                display:inline-block;
                border-bottom:1px solid #000;
                padding-left:20px;
                padding-right:20px;
                padding-bottom:10px;
            }

            > ul, ol {
                list-style:none;
            }

            &.col-left {
                text-align:right;
            }

        }

        .icon-merge {
            transform:rotateX(180deg);
            position:relative;
            display:block;
            left:calc(50% - 60px);
            width:150px;
            margin-bottom:70px;
        }

        .structured-info {
            text-align:center !important;

            strong {
                display:block;
                font-weight:900;
                font-size:1.3em;
                line-height:3;
            }
        }

        figure {
            margin:50px 0px;
            text-align:center;

            img {
                padding:50px;
                background-color:#fff;
                box-shadow:0px 1px 3px 0px #999;
            }

            figcaption {
                text-align:center;
                padding:10px;
            }
        }

        .full-width {
            width:100%;
        }

        .formular {
            display:block;
            margin-left:auto;
            margin-right:auto;
            margin-top:60px;
            margin-bottom: 60px;
            width:40%;
            min-width:280px;
        }

        table {
            margin-bottom:40px;

            thead {
                border-bottom:10px solid $theme-blue-light;
            }

            #resultRows {

                tr {
                    border-bottom:10px solid transparent;
                }

                tr {
                    td:first-child {
                        border-right:2px solid transparent;
                    }
                }

                td:nth-child(2) {
                    div {
                        left:0px;
                        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9393d8+0,8181e2+60 */
                        background: #9393d8; /* Old browsers */
                        background: -moz-linear-gradient(top,  #9393d8 0%, #8181e2 60%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  #9393d8 0%,#8181e2 60%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  #9393d8 0%,#8181e2 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9393d8', endColorstr='#8181e2',GradientType=0 ); /* IE6-9 */

                        span {
                            top:33%;
                            right:10px;
                        }
                    }
                }

            }
        }

        .logo {
            display:block;
            margin-left:auto;
            margin-right:auto;
        }

    }
}