/*------------------------------------------------------------------------------------*/
/*---------------------------------    header    -------------------------------------*/
/*------------------------------------------------------------------------------------*/

section.header-wrapper {
    background-color:$theme-blue;
    padding-top:0px;
    text-align:center;
    background-image:url('../images/bg_top.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto 100%;

    * {
        color:#fff !important;
    }
}

section.header-wrapper h2 {
    border-top:1px solid #fff;
    display:inline-block;
    padding-top:10px;
}

nav {
    margin-bottom:10px;
    padding-bottom:40px;
}

nav ul {
    list-style:none;
    font-size:0px;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    cursor:pointer;
    text-transform:uppercase;
    border-bottom:1px solid transparent;
}

nav ul li a:hover, nav ul li.active a {
    border-bottom:1px solid #fff;
}



/*------------------------------------------------------------------------------------*/
/*----------------------------------    content    -----------------------------------*/
/*------------------------------------------------------------------------------------*/





.text-block {
    margin-bottom:120px;
}

.text-block .quote i {
    display:block;
    font-size:1.6rem;
    line-height:2.5rem;
    margin-bottom:30px;
    text-align: center;
}

.text-block .quote span {
    font-size:1.2rem;
    display:block;
    text-align:center;
}

.text-block > *:not(:last-child) {
    margin-bottom:10px;
}