
/*
theme-blue: #8181e2;
theme-blue-light: #f9f9ff;
*/
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-decoration:none;
    font-family: 'Raleway';
    font-size:16px;
    line-height:20px;
    letter-spacing:0.03rem;
}

html, body {
    background-color:#f7f7ff;
}

h1, h2 {
    font-family: 'Caudex';
    color:#fff;
    text-transform:uppercase;
}

h1 {
    padding:20px;
    font-size: 6.5rem;
    letter-spacing:0.5rem;
    line-height:6rem
}

h2 {
    font-size:1.8rem;
    margin-bottom:10px;
    letter-spacing:0.2rem
}

section {
    padding:130px 0px;
}

.overlay {
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:rgba(255,255,255,.95);
    background-image: url("../images/balls.svg");
    background-position:center;
    background-repeat:no-repeat;
}

/*------------------------------------------------------------------------------------*/
/*---------------------------------    header    -------------------------------------*/
/*------------------------------------------------------------------------------------*/

section.header-wrapper {
    background-color:#8181e2;
    padding-top:0px;
    text-align:center;
    background-image:url('../images/bg_top.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto 100%;
}

section.header-wrapper h2 {
    border-top:1px solid #fff;
    display:inline-block;
    padding-top:10px;
}

nav {
    margin-bottom:10px;
    padding-bottom:40px;
}

nav ul {
    list-style:none;
    font-size:0px;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    cursor:pointer;
    text-transform:uppercase;
    border-bottom:1px solid transparent;
}

nav ul li a:hover, nav ul li.active a {
    border-bottom:1px solid #fff;
}


/*------------------------------------------------------------------------------------*/
/*----------------------------------    content    -----------------------------------*/
/*------------------------------------------------------------------------------------*/

section.content {
    width:60%;
    min-width:300px;
    margin-left:auto;
    margin-right:auto;
}

.text-block {
    margin-bottom:120px;
}

.text-block .quote i {
    display:block;
    font-size:1.6rem;
    line-height:2.5rem;
    margin-bottom:30px;
    text-align: center;
}

.text-block .quote span {
    font-size:1.2rem;
    display:block;
    text-align:center;
}

.text-block > *:not(:last-child) {
    margin-bottom:10px;
}

form {
    width:100%;
    font-size:0px;
    margin-bottom:20px;
    background-color:#8181e2;
    padding:10px;
    padding-bottom:0px;
    color:#fff;
    background-image:url('../images/closed.png');
    background-position:right 14px top 20px;
    background-repeat:no-repeat;
}

form.active {
    background-image:url('../images/open.png');
        background-position:right 14px top 25px;

}



form legend {
    font-size:18px;
    padding-top: 10px;
    padding-bottom:20px;
    width:100%;
    display:block;
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:left top;
    background-image:url('../images/search.png');
    padding-left:70px;
}

form.active legend {
    font-weight:bold;
}

form label, form dt {
    font-size:18px;
}

form .form-content-block {
    position:relative;
    padding-top:20px;
    padding-bottom:10px;
    border-top:1px solid #fff;
    font-size:0px;
}

form dl {
    vertical-align:top
}

#inputText_field, #inputAlgorithms_field {
    display:inline-block;
}


#inputText_field {
    width:calc(100% - 310px);
    margin-right:10px;
}

form dl dt {
    font-weight:bold;
    margin-bottom:20px;
    display:block
}

form textarea {
    padding:20px;
    width:100%;
    min-height: 300px;
    resize:vertical;
    border:none;
}

.info, dd.error {
    display:none !important;
}

#inputText_field dd {
    line-height:0px;
}

.form-block-right {
    width:300px;
    position:absolute;
    right:0px;
    top:20px;
    bottom:0px;
}

form .buttonset label {
    margin-top:-3px;
}

form .buttonset label:not(:last-of-type)::after {
    content:"";
    display:block;
    height:30px;
    cursor:default;
}

form .buttonset input, form .buttonset label, form input[type="submit"]  {
    cursor:pointer;
}

form .buttonset input {
    margin-right:5px;
}

form input[type="submit"] {
    display:inline-block;
    position:absolute;
    bottom:10px;
    width:100%;
    padding:10px 50px;
    background-color:#8181e2;
    border:1px solid #fff !important;
    color:#fff;
    border:none;
}

form input[type="submit"]:hover {
    background-color:#fff;
    color:#8181e2;
}


/*************************************************************************/
/************************** twitter form ********************************/
/*************************************************************************/

#twitter-form legend {
    background-image:url('../images/twitter.png');
    background-position:left top 2px;
}


#twitter-form #username_field {
    font-size:0px;
}

#twitter-form #username_field , #twitter-form #username_field > * {
    display:inline-block;
}

#twitter-form #username {
    padding: 11px;
    border: none;
    margin-top: 3px;
}

#twitter-form #twitter-form-submit {
    width:300px;
    right:0px;
    position:relative;
    vertical-align:bottom;
    bottom:0px;
}

#twitter-form #username_field {
    width: calc(100% - 301px);
}

#twitter-form #username_field dt{
    margin-bottom:0px;
    width:120px;
}

#twitter-form #username_field dd {
    width: calc(100% - 131px);
}

#twitter-form #username {
    width:100%;
}

/*************************************************************************/
/****************************** result ***********************************/
/*************************************************************************/

.result {
    padding-top:0px;
}

.result h2 {
    line-height: 8rem;
    color: #000;
    text-align: center;
    font-size: 2rem;
}

.result table {
    text-align:left;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.result table .headline {
    text-align:center;
    font-size:2.4rem;
    background:#f7f7ff;
    color:#000;
    font-family:'Caudex';
    padding:40px;
}

.result table tr > * {
    padding: 20px;
}

.result table thead {
    background-color:#8181e2;
    color:#fff;
}

.result table thead th {
    text-align:center;
}

.result table thead th:first-of-type {
    width:230px;
}

.result table tbody tr > * {
    background-color:#eee;
    transition:.2s;
}

.result table tbody tr:hover > * {
    background-color:#e2e2e2;
}

#resultRows td {
    position:relative;
    width:auto;
    overflow:hidden;
}

#resultRows td:first-child {
    width:230px;
    border-right:2px solid #fff;
}

#resultRows td p {
    position:relative;
}


#resultRows td > div {
    position:absolute;
    top:0px;
    bottom:0px;
    overflow:visible;
    min-width:2px;
}

#resultRows td > .democrats {
    right:0px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56b5dd+2,34aae0+100 */
   background: #56b5dd; /* Old browsers */
   background: -moz-linear-gradient(top,  #56b5dd 2%, #34aae0 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #56b5dd 2%,#34aae0 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #56b5dd 2%,#34aae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56b5dd', endColorstr='#34aae0',GradientType=0 ); /* IE6-9 */
}

#resultRows td > .republicans {
    left:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea1c24+0,cf181f+100 */
    background: #ea1c24; /* Old browsers */
    background: -moz-linear-gradient(top,  #ea1c24 0%, #cf181f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ea1c24 0%,#cf181f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ea1c24 0%,#cf181f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1c24', endColorstr='#cf181f',GradientType=0 ); /* IE6-9 */
    text-align:right;
}

#resultRows td > div span {
    display:block;
    color:#fff;
    font-wight:bold;
    position:absolute;
    font-size:.7rem;
}

#resultRows td > .republicans span {
    right:5px;
    top:32%;
}
#resultRows td > .democrats span {
    left:5px;
    top:32%;
}

footer {
    padding:10px;
    font-size:.8rem;
    text-align:center;
    color:#777;
}