/* line 2, ../../sass/parts/content-pages.scss */
.content-page * {
  color: #000;
}
/* line 6, ../../sass/parts/content-pages.scss */
.content-page h2, .content-page h3, .content-page p, .content-page a {
  letter-spacing: .12em;
}
/* line 10, ../../sass/parts/content-pages.scss */
.content-page h2 {
  text-align: center;
  font-size: 2.8rem;
  padding: 0px 20px 70px 20px;
  margin: 0px;
}
/* line 17, ../../sass/parts/content-pages.scss */
.content-page h2, .content-page h3 {
  font-family: 'Caudex';
  text-transform: uppercase;
  line-height: 1;
}
/* line 24, ../../sass/parts/content-pages.scss */
.content-page h2 a, .content-page h3 a, .content-page h4 a {
  font-size: 1em;
}
/* line 30, ../../sass/parts/content-pages.scss */
.content-page h4 {
  padding-top: 10px;
}
/* line 34, ../../sass/parts/content-pages.scss */
.content-page section {
  padding: 0px;
  font-size: 0px;
}
/* line 38, ../../sass/parts/content-pages.scss */
.content-page section.level {
  padding: 30px 0px;
}
/* line 43, ../../sass/parts/content-pages.scss */
.content-page section.level.level-1 h3 {
  border-bottom: 1px solid #000;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
/* line 49, ../../sass/parts/content-pages.scss */
.content-page section.level.level-1 .level-2 {
  padding: 40px 0px;
}
/* line 52, ../../sass/parts/content-pages.scss */
.content-page section.level.level-1 .level-2 p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}
/* line 58, ../../sass/parts/content-pages.scss */
.content-page section.level.level-1 .level-2 > *:last-child {
  margin-bottom: 0px;
}
/* line 68, ../../sass/parts/content-pages.scss */
.content-page section code {
  position: relative;
  display: block;
  text-align: center;
  padding: 50px;
  padding-top: 40px;
}
/* line 75, ../../sass/parts/content-pages.scss */
.content-page section code + code {
  padding-top: 0px;
}
/* line 79, ../../sass/parts/content-pages.scss */
.content-page section code * {
  font-family: 'Inconsolata';
  font-size: 1.1em;
}
/* line 84, ../../sass/parts/content-pages.scss */
.content-page section code pre {
  display: inline-block;
  text-align: left;
  line-height: 1.8;
  letter-spacing: .15em;
  padding: 15px 40px;
  background: #e0e0e0;
  width: auto;
  box-shadow: 0px 1px 1px 0px #b4b4b4;
}
/* line 97, ../../sass/parts/content-pages.scss */
.content-page section .col {
  display: inline-block;
  width: 50%;
  padding: 70px;
}
/* line 102, ../../sass/parts/content-pages.scss */
.content-page section .col h4 {
  display: inline-block;
  border-bottom: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
/* line 110, ../../sass/parts/content-pages.scss */
.content-page section .col > ul, .content-page section .col ol {
  list-style: none;
}
/* line 114, ../../sass/parts/content-pages.scss */
.content-page section .col.col-left {
  text-align: right;
}
/* line 120, ../../sass/parts/content-pages.scss */
.content-page section .icon-merge {
  transform: rotateX(180deg);
  position: relative;
  display: block;
  left: calc(50% - 60px);
  width: 150px;
  margin-bottom: 70px;
}
/* line 129, ../../sass/parts/content-pages.scss */
.content-page section .structured-info {
  text-align: center !important;
}
/* line 132, ../../sass/parts/content-pages.scss */
.content-page section .structured-info strong {
  display: block;
  font-weight: 900;
  font-size: 1.3em;
  line-height: 3;
}
/* line 140, ../../sass/parts/content-pages.scss */
.content-page section figure {
  margin: 50px 0px;
  text-align: center;
}
/* line 144, ../../sass/parts/content-pages.scss */
.content-page section figure img {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px #999;
}
/* line 150, ../../sass/parts/content-pages.scss */
.content-page section figure figcaption {
  text-align: center;
  padding: 10px;
}
/* line 156, ../../sass/parts/content-pages.scss */
.content-page section .full-width {
  width: 100%;
}
/* line 160, ../../sass/parts/content-pages.scss */
.content-page section .formular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 40%;
  min-width: 280px;
}
