/*************************************************************************/
/****************************** result ***********************************/
/*************************************************************************/
/* line 5, ../../sass/parts/results.scss */
.result {
  padding-top: 0px;
}

/* line 9, ../../sass/parts/results.scss */
.result h2 {
  line-height: 8rem;
  color: #000;
  text-align: center;
  font-size: 2rem;
}

/* line 16, ../../sass/parts/results.scss */
.result table thead th:first-of-type {
  width: 280px;
}

/* line 20, ../../sass/parts/results.scss */
#resultRows td {
  position: relative;
  width: auto;
  overflow: hidden;
}

/* line 26, ../../sass/parts/results.scss */
#resultRows td:first-child {
  width: 230px;
  border-right: 2px solid transparent;
}

/* line 31, ../../sass/parts/results.scss */
#resultRows td p {
  position: relative;
}

/* line 36, ../../sass/parts/results.scss */
#resultRows td > div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: visible;
  min-width: 2px;
}

/* line 44, ../../sass/parts/results.scss */
#resultRows td > .democrats {
  right: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#56b5dd+2,34aae0+100 */
  background: #56b5dd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #56b5dd 2%, #34aae0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #56b5dd 2%, #34aae0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #56b5dd 2%, #34aae0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56b5dd', endColorstr='#34aae0',GradientType=0 );
  /* IE6-9 */
}

/* line 54, ../../sass/parts/results.scss */
#resultRows td > .republicans {
  left: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea1c24+0,cf181f+100 */
  background: #ea1c24;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ea1c24 0%, #cf181f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ea1c24 0%, #cf181f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ea1c24 0%, #cf181f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea1c24', endColorstr='#cf181f',GradientType=0 );
  /* IE6-9 */
  text-align: right;
}

/* line 65, ../../sass/parts/results.scss */
#resultRows td > div span {
  display: block;
  color: #fff;
  position: absolute;
  font-size: .7rem;
}

/* line 72, ../../sass/parts/results.scss */
#resultRows td > .republicans span {
  right: 5px;
  top: 32%;
}

/* line 76, ../../sass/parts/results.scss */
#resultRows td > .democrats span {
  left: 5px;
  top: 32%;
}
