@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import app.Config

@(routePath: String, inputForm: Form[EvaluationRequest], algorithms: Map[String, String], responseData: String = "")(implicit defaultValues: Config.Defaults.type)

@main(routePath) {

    <div class="text-block">
        <p>Some bla bla bla about this project and how it works...why it's useful and maybe how many political evaluations have been mad so far with this software</p>
    </div>

    @helper.form(action = controllers.routes.MainController.handleUserInput(), args = 'method -> "POST") {
        @helper.textarea(inputForm("inputText"), '_label -> "Your text", 'placeholder -> "Enter your political opinions here")
        @helper.inputCheckboxGroup(inputForm("inputAlgorithms"),
            options = algorithms.toList,
            '_label -> "Algorithms to be used",
            '_error -> inputForm("inputAlgorithms").error.map(_.withMessage("Please select at least one algorithm"))
        )

        <br />
        <input type="submit" value="Run POC" />

        @if(responseData != "") {
            <section class="result">
                @responseData
            </section>
        }
    }
}
