@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import app.Config

@(routePath: String, inputForm: Form[EvaluationRequest], algorithms: Map[String, String], responseData: String = "")(implicit defaultValues: Config.Defaults.type)

@main(routePath) {

    @helper.form(action = controllers.routes.MainController.handleUserInput(), args = 'method -> "POST") {
        @helper.inputText(inputForm("inputText"), '_label -> "Input Text")
        @helper.inputCheckboxGroup(inputForm("inputAlgorithms"),
            options = algorithms.toList,
            '_label -> "Algorithms",
            '_error -> inputForm("inputAlgorithms").error.map(_.withMessage("please select at least one algorithm"))
        )

        <br />
        <input type="submit" value="Run POC" />

        @if(responseData != "") {
            <section class="result">
                @responseData
            </section>
        }
    }
}
